Vakken/Studio Digitaal/1. Witchhunt/Brainstorming/biased.com
Vakken/Studio Digitaal/1. Swipe to the middle/Brainstorming/biased.com
Vakken/Studio Digitaal/1. Swipe to the middle/Brainstorming/biased.com.psd
Vakken/Studio Digitaal/Golden Triangle - RUSH/2. Speciale rush/8-HOLLOW-20251010T074644Z-1-001/8-HOLLOW/Renders/SethVandenBossche_Hollow_Illustratie16_V1.mov
Vakken/Studio Digitaal/Golden Triangle - RUSH/2. Speciale rush/8-HOLLOW-20251010T074644Z-1-001/8-HOLLOW/Renders/SethVandenBossche_Hollow_Illustratie16_V2.mov
Vakken/Studio Digitaal/Golden Triangle - RUSH/2. Speciale rush/8-HOLLOW-20251010T074644Z-1-001/8-HOLLOW/Renders/SethVandenBossche_Hollow_Illustratie16_V3.mov
Vakken/Studio Digitaal/Golden Triangle - RUSH/2. Speciale rush/8-HOLLOW-20251010T074644Z-1-001/8-HOLLOW/Renders/SethVandenBossche_Hollow_Illustratie25_V1.mov
Vakken/Studio Digitaal/Golden Triangle - RUSH/2. Speciale rush/8-HOLLOW-20251010T074644Z-1-001/8-HOLLOW/Renders/SethVandenBossche_Hollow_Illustratie16_V1_Kleur.mov
Vakken/Crossmedia/3D Ontwerp/Assets/Desert Scene/cactus.zip
/Vakken/Crossmedia/3D Ontwerp/Assets/Desert Scene/cactus
Vakken/Crossmedia/3D Ontwerp/SceneTest.blend1
Vakken/Crossmedia/3D Ontwerp/SceneTest.blend
Vakken/Studio Digitaal/1. Swipe to the middle/Instaposts/DSC_6957.MOV
/Vakken/Crossmedia/3D Ontwerp/Assets
Vakken/Projectweek/Interviews/Footage/20251103_141239.mp4
Vakken/Projectweek/Interviews/Footage/20251103_142617.mp4
Vakken/Projectweek/Interviews/Footage/20251103_142956.mp4
Vakken/Projectweek/Interviews/Footage/20251103_143746.mp4
Vakken/Projectweek/Interviews/Footage/20251103_144603.mp4
Vakken/Projectweek/Interviews/Footage/20251103_145343.mp4
Vakken/Projectweek/Interviews/Footage/20251103_150017.mp4
Vakken/Projectweek/Interviews/Footage/20251103_150259.mp4
Vakken/Projectweek/Experimenten/TestsV3/gebruiken/20250425_193826.psd
Vakken/Projectweek/Experimenten/Mockup/SUBWAY LED BILLBOARD MMOCKUP.psd
Vakken/Projectweek/Experimenten/Mockup/Free City Light Poster Mockup.psd
Vakken/Projectweek/Experimenten/Mockup/16 Free Outdoor Citylight Billboard Mockup on Autumn Street Scene.psd
/Vakken/Projectweek/Experimenten/Exports/tiktok/source
Vakken/Projectweek/Experimenten/testsV4/3.psd
/Vakken/Projectweek/mockups/metro-billboard-mockup
