body{
    font-family: "Zalando Sans Expanded", sans-serif;
    color: orange;
    margin: 0px;
    padding: 0px;
}

header{
    display: inline-flex;
    border-bottom: 2px solid orange;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 2em;
    white-space: nowrap;
}

header figure{
    width: 50px;
}

figure img{
    width: 100%;
}

header nav{
    padding-left: calc(85vw - 600px);
    width: 600px;
    margin-top: 30px;
    display: inline-flex;
}

header a{
    text-decoration: none;
    color: orange;
    margin-left: 50px;
    transition-duration: 1s;
    display: block;
}

header a:hover{
    text-decoration: underline;
    color: red;
    transform: rotate(60deg);
}

header a:last-child:hover{
    color: blue;
}

#introduction{
    display: inline-flex;
    padding: 50px;
    width: 700px;
    margin-left: calc(50vw - 700px/2);
}

#introduction div{
    width: 50%;
}

#introduction div figure{
    width: 100%;
}
